<h2>edit-celebrity.hbs</h2>

<form action="/celebrities/{{celebrity._id}}" method="POST">
  <label>
    Name:
    <input type="text" name="name" value="{{celebrity.name}}" />
  </label>

  <label>
    Occupation:
    <input type="text" name="occupation" value="{{celebrity.occupation}}" />
  </label>

  <label>
    Catch Phrase:
    <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}" />
  </label>

  <button type="submit">Submit</button>
</form>