<h2>new-celebrity.hbs</h2>
<form action="/celebrities/create" method="POST">
  <label>Name: <input type="text" name="name" /></label>
  <label>Occupation: <input type="text" name="occupation" /></label>
  <label>Catch phrase: <input type="text" name="catchPhrase" /></label>
  <br />
  <button type="submit"> Create </button>
</form>

<a href="/celebrities/celebrities">See list of celebrities</a>